[project]
	description = Work fast, think well.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mat?j Cepl (mcepl)
[access "refs/for/refs/*"]
	read = group user/Mat?j Cepl (mcepl)
	push = group user/Mat?j Cepl (mcepl)
	label-Code-Review = -2..+2 group user/Mat?j Cepl (mcepl)
	label-Verified = -1..+1 group user/Mat?j Cepl (mcepl)
	rebase = group user/Mat?j Cepl (mcepl)
	removeReviewer = group user/Mat?j Cepl (mcepl)
	submit = group user/Mat?j Cepl (mcepl)
[access "refs/heads/*"]
	read = group user/Mat?j Cepl (mcepl)
	create = group user/Mat?j Cepl (mcepl)
	push = +force group user/Mat?j Cepl (mcepl)
	pushMerge = group user/Mat?j Cepl (mcepl)
[access "refs/tags/*"]
	push = +force group user/Mat?j Cepl (mcepl)
	pushTag = group user/Mat?j Cepl (mcepl)
	pushSignedTag = group user/Mat?j Cepl (mcepl)
